<template>

	<transition name="page-slide" mode="out-in" appear>

	<div class="index section" key="index">

		<div class="container view">

			<div class="content">

				<h1 class="title">Jussi's Todo</h1>

				<p>Select a project and start doing!</p>

			</div>

			<div class="projects">
					
				<div 
					class="project"
					v-for="project in projects">

					<router-link 
						:to="`/project/${project.slug}`" 
						:key="project.slug" 
						class="select-project-button button">
							
						<icon name="cube"></icon>
						{{project.name}}

					</router-link>

				</div>

			</div>

			
		</div>

	</div>

	</transition>

</template>

<script>
export default {
	name: 'index',
	components: { },
	created() { },
	mounted() { },
	data() {
		return {
		}
	},
	computed: {
		projects() {
			return this.$store.state.projects
		},
	},
	methods: {

	}
}
</script>

<style lang="scss" scoped>

.section {
	background: none;
	padding: 1.5rem;
}

.select-project-button {
	background: none;
	border-color: transparent;
	display: block;
	text-align: left;
	text-decoration: none;

	&:hover {
		background-color: whitesmoke;
		border-color: transparent;
	}


	&.is-selected {
		color: $turquoise;
	}

}

</style>
