<template>

	<transition name="page-slide">

	<div class="project-view view" :key="project.slug" v-if="project">

		<!-- Project -->

		<div class="project-section section">
			
			<div class="container">

				<div class="content">

					<div class="project">

						<div class="project-content">
							
							<h1 class="title">{{project.name}}</h1>
							<p>{{project.description || '&nbsp;'}}</p>

						</div>

						<div class="project-tool-bar">
							
							<div 
								class="edit-project-button button is-link"
								@click="$store.dispatch('showEditProject', project)">
								<icon name="edit"></icon>
								&nbsp;Edit
							</div>
							
							<div 
								class="remove-project-button button is-link" 
								@click="$store.dispatch('showRemoveProject', project)">
								<icon name="remove"></icon>
								&nbsp;Remove
							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

		<!-- Todos -->

		<section class="todos-section section">

			<div class="container">
		
				<todos v-if="project && project.todos"></todos>
				
			</div>

		</section>

	</div>

	</transition>

</template>

<script>

import Todos from '../elements/Todos.vue'

export default {
	name: 'project',
	components: { Todos },
	created() { },
	mounted() { },
	data() {
		return {
		}
	},
	computed: {
		projects() {
			return this.$store.state.projects
		},
		project() {
			return this.$store.getters.getSelectedProject
		}
	},
	methods: {

	}
}
</script>

<style lang="scss" scoped>

.section {
	background: none;
	padding: 1.5rem;
}

.project-section {
	background: $white-bis;
	background: linear-gradient($white-bis 0%, $white-bis 98%, $grey-lighter 100%);
}

.project {

	position: relative;

	.project-content {
		// flex: 0 0 80%;
	}

	.project-tool-bar {		

		display: flex;
		flex-direction: column;
		align-items: flex-end;

		// float: right;
		position: absolute;
		 top: 0;
		 right: 0;

		// flex: 0 0 20%;
		padding: 0.5em;

		& > .button {
			// display: block;
			// text-align: right;
			text-decoration: none;
		}

		@include mobile() {
			// display: block;
			position: static;
			align-items: center;
			flex-direction: row;
			justify-content: space-around;

			margin-top: 1em;

			& > .button {
				background-color: $white-ter;
			}

		}

	}

}

.todos-section {
	// background-color: $grey-lighter;
}

</style>