////////////////////////////////////////////////////////////////////////////////
// APP STYLES //////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
// IMPORTS

@import 'variables';
@import 'transitions';

////////////////////////////////////////////////////////////////////////////////
// LAYOUT

html, body {
	background: $grey-lighter;
	height: 100%;
}

#app {
	
	// height: 100%;
	padding-top: $navigationHeight;

	@include mobile() {

		font-size: 14px;

		& .button {
			font-size: 14px;
		}

	}

}

.section {
	background: none;
	padding: 1.5rem;
}

.container {

}

// LINKS

.router-link {
	color: blue;
}

.router-link-exact-active {
	color: black;
}