// BULMA OVERRIDES HERE

.section {
	background: none;
	padding: 1.5rem;
}

.container {

}

.modal {
	background: rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1000000;

	& .container {
		margin: 1em;
		width: 100%;
		max-width: 800px;
		// top: -20%;
	}

	& .content {
		box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 1);
	}

}