////////////////////////////////////////////////////////////////////////////////
// TRANSITIONS /////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////////////////////
// FADE

// FADE: ENTER

.fade-enter-active {
	transition: all 0.5s ease;
}

.fade-enter {
	opacity: 0.0;
}

.fade-enter-to {
	opacity: 1.0;
}

// FADE: LEAVE

.fade-leave-active {
	transition: all 0.5s ease;
}

.fade-leave {
	opacity: 1.0;
}

.fade-leave-to {
	opacity: 0.0;
}

////////////////////////////////////////////////////////////////////////////////
// FADE FAST

// FADE FAST: ENTER

.fade-fast-enter-active {
	transition: all 0.2s ease;
}

.fade-fast-enter {
	opacity: 0.0;
}

.fade-fast-enter-to {
	opacity: 1.0;
}

// FADE FAST: LEAVE

.fade-fast-leave-active {
	transition: all 0.2s ease;
}

.fade-fast-leave {
	opacity: 1.0;
}

.fade-fast-leave-to {
	opacity: 0.0;
}


////////////////////////////////////////////////////////////////////////////////
// PAGE SLIDE

// PAGE SLIDE: ENTER

.page-slide-enter-active {
	transition: all 0.5s ease;
	position: fixed;
	width: 100%;
}

.page-slide-enter {
	opacity: 0.0;
	transform: scale(1.0) translateX(-30px);
}

.page-slide-enter-to {
	opacity: 1.0;
	transform: scale(1.0) translateX(0%);
}

// PAGE SLIDE: LEAVE

.page-slide-leave-active {
	transition: all 0.5s ease;
	position: fixed;
	width: 100%;
}

.page-slide-leave {
	opacity: 1.0;
	transform: scale(1.0) translateX(0%);
}

.page-slide-leave-to {
	opacity: 0.0;
	transform: scale(1.0) translateX(30px);
}


////////////////////////////////////////////////////////////////////////////////
// MESSAGE

// MESSAGE: ENTER

.message-enter-active {
	transition: all 0.2s ease;
}

.message-enter {
	opacity: 0.0;
	transform: scale(0.8) translateY(200%);
}

.message-enter-to {
	opacity: 1.0;
	transform: scale(1.0) translateY(0%);
}

// MESSAGE: LEAVE

.message-leave-active {
	transition: all 0.2s ease;
}

.message-leave {
	opacity: 1.0;
	transform: scale(1.0) translateY(0%);
}

.message-leave-to {
	opacity: 0.0;
	transform: scale(0.8) translateY(200%);
}
