<template>

	<transition name="fade">

	<div class="loading-screen wrapper" v-if="!$store.state.init">

		<div class="container">
			
			<div class="loader-wrapper">
				<div class="loader"></div>
			</div>

		</div>

	</div>

	</transition>

</template>

<script>
export default {
	name: 'index',
	components: { },
	created() { },
	mounted() { },
	data() {
		return { }
	},
	computed: {
	},
	methods: {
	}
}
</script>

<style lang="scss" scoped>

.loading-screen {

	background: #fff;

	width: 100%;
	height: 100%;

	position: fixed;
		top: 0;
		left: 0;

	z-index: 10000000;

}

.loader-wrapper {
	position: fixed;
	top: 20%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.loader {
	width: 3em;
	height: 3em;
}

</style>