<template>

	<transition name="message">

	<div 
		class="message" 
		v-if="$store.state.ui.message.show" 
		:key="message" 
		@click="$store.commit('HIDE_MESSAGE')"
	>

		<div class="content">
			
			<p>{{message}}</p>

		</div>

	</div>

	</transition>

</template>

<script>
export default {
	name: 'index',
	components: { },
	created() { },
	mounted() { },
	data() {
		return { }
	},
	computed: {
		message() {
			return this.$store.state.ui.message.text
		}
	},
	methods: {
	}
}
</script>

<style lang="scss" scoped>

.message {

	color: white;
	background: $dark;

	box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.3);

	position: fixed;
	right: 2em;
	bottom: 2em;

	padding: 1em 4em;

	z-index: 1000001;

	& .content {
		color: inherit;
	}

	& .title, & p {
		color: inherit;
	}

	@include mobile() {

		text-align: center;
		line-height: 1.1rem;

		right: auto;
		left: 50%;
		bottom: 0em;
		transform: translateX(-50%);

		padding: 1em;
		width: 100%;

	}

}

</style>
