<template>

	<transition name="fade-fast">

	<div class="modal" 
		 v-bind:class="{ 'is-active' : $store.state.ui.showModal }" 
		 v-if="$store.state.ui.showModal"
		 @click="hideModal($event)"
		 >

		<div class="container">
			
			<select-project v-if="$store.state.ui.modals.showSelectProject"></select-project>

			<add-new-project v-if="$store.state.ui.modals.showAddNewProject"></add-new-project>
			<edit-project v-if="$store.state.ui.modals.showEditProject"></edit-project>
			<remove-project v-if="$store.state.ui.modals.showRemoveProject"></remove-project>

			<add-new-todo v-if="$store.state.ui.modals.showAddNewTodo"></add-new-todo>
			<edit-todo v-if="$store.state.ui.modals.showEditTodo"></edit-todo>
			<remove-todo v-if="$store.state.ui.modals.showRemoveTodo"></remove-todo>

		</div>

	</div>

	</transition>

</template>

<script>

import SelectProject from './modals/Modal-SelectProject.vue'

import AddNewProject from './modals/Modal-AddNewProject.vue'
import EditProject from './modals/Modal-EditProject.vue'
import RemoveProject from './modals/Modal-RemoveProject.vue'

import AddNewTodo from './modals/Modal-AddNewTodo.vue'
import EditTodo from './modals/Modal-EditTodo.vue'
import RemoveTodo from './modals/Modal-RemoveTodo.vue'

export default {
	name: 'modal',
	components: { 
		SelectProject,
		AddNewProject, 
		EditProject,
		RemoveProject, 
		AddNewTodo, 
		EditTodo, 
		RemoveTodo 
	},
	created() { },
	mounted() { 

		window.addEventListener('keydown', (event) => {
			if(event.keyCode === 27)
				this.$store.commit('HIDE_MODAL')
		})
		
	},
	data() {
		return { }
	},
	computed: {
	},
	methods: {

		hideModal(event) {

			if(event.target.classList.contains('modal'))
				this.$store.commit('HIDE_MODAL')

		},

	}
}
</script>

<style lang="scss" scoped>


.container {
}

.content {
}

.modal {
	
	background: rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1000000;

	& .container {
		background: $white-bis;
		margin: 1em;
		width: 100%;
		max-width: 800px;

		@include mobile() {
			margin: 2px 2px 20px 2px;
		}

	}

	& .content {
		box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 1);
		padding: 2rem;
	}

}

</style>
