<template>

	<div class="navigation section">

		<div class="container">
		
			<nav>

				<!-- Select Project -->

				<div class="select-project-button button is-dark" @click="$store.dispatch('showSelectProject')">
					<icon name="cubes"></icon>
					&nbsp;Projects
				</div>

				<!-- Add New Project -->

				<div class="add-new-project-button button is-primary" @click="$store.dispatch('showAddNewProject')">
					<icon name="plus"></icon>
					&nbsp;Project
				</div>

				<!-- Add New Todo -->

				<transition name="fade">

					<div 
						class="add-new-todo-button button is-primary" 
						@click="$store.dispatch('showAddNewTodo')"
						v-if="project"
						>
						<icon name="plus"></icon>
						&nbsp;Todo
					</div>

				</transition>
					
			</nav>

		</div>

	</div>

</template>

<script>
export default {
	name: 'navigation',
	components: { },
	created() { },
	mounted() { },
	data() {
		return { }
	},
	computed: {
		project() {
			return this.$store.getters.getSelectedProject
		}
	},
	methods: {
	}
}
</script>

<style lang="scss" scoped>

.section {
	background: none;
	padding: 1.5rem;
}

.navigation {

	display: flex;
	align-items: center;

	background: $grey-dark;

	position: fixed;
	 top: 0;
	 left: 0;

	width: 100%;
	height: $navigationHeight;

	z-index: 100000;

	@include mobile() {
		// justify-content: center;
		// padding: 0.5em;
	}

}

</style>
