<template>

	<div class="content">

		<!-- Title -->

		<h2 class="title">Todos</h2>

		<!-- Todos -->

		<div class="todos" v-if="todos">

			<transition-group name="list-complete">
			
				<div 
					class="todo" 
					v-bind:class="{ 'is-completed' : todo.completed }"
					:key="todo.slug"
					v-for="todo in todos">
					
					<div class="todo-content">

						<h4 class="todo-name title">{{todo.name}}</h4>
						<p>{{todo.description || '&nbsp;'}}</p>

					</div>

					<div class="todo-tool-bar">

						<div 
							class="complete-todo-button button is-dark" 
							v-if="!todo.completed"
							@click="$store.dispatch('completeTodo', todo)"
							>
							<icon name="check"></icon>
							<!-- &nbsp;Complete -->
						</div>
						
						<div 
							class="uncomplete-todo-button button is-primary" 
							v-if="todo.completed"
							@click="$store.dispatch('uncompleteTodo', todo)"
							>
							<icon name="check"></icon>
							<!-- &nbsp;Complete -->
						</div>
						
						<div 
							class="edit-todo-button button is-link"
							@click="$store.dispatch('showEditTodo', todo)">
							<icon name="edit"></icon>
							&nbsp;Edit
						</div>
						
						<div 
							class="remove-todo-button button is-link" 
							@click="$store.dispatch('showRemoveTodo', todo)">
							<icon name="remove"></icon>
							&nbsp;Remove
						</div>

					</div>

				</div>

			</transition-group>

		</div>

		<div class="no-todos" v-if="!todos.length">
			<h4 class="title"><em>No todos to do...</em></h4>
		</div>

	</div>

</template>

<script>
export default {
	name: 'todos',
	components: { },
	created() { },
	mounted() { },
	data() {
		return {
		}
	},
	computed: {
		projects() {
			return this.$store.state.projects
		},
		project() {
			return this.$store.getters.getSelectedProject
		},
		todos() {

			if(!this.project.todos)
				return

			let todos = this.project.todos

			todos.sort((a, b) => {
				return a.completed - b.completed
			})

			return todos

		}
	},
	methods: {

	}
}
</script>

<style lang="scss" scoped>

// TRANSITIONS

.flip-list-move {
	transition: all 1s;
}

.list-complete-item {
  transition: all 1s;
  display: inline-block;
  margin-right: 10px;
}
.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active for <2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: absolute;
}

// STYLES

.todo {
	
	background: #fafafa;
	box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.3);

	margin-bottom: 2rem;

	transition: all 0.4s ease;

	width: 100%;

	// .todo >

	& .title, & p {
		color: inherit;
	}

	&.is-completed {

		background: #72dacb;
		color: $text-strong;
		transition: all 0.4s ease;

	}

}

.todo-content {
	padding: 1em;
}

.todo-tool-bar {
	
	background: rgba(127, 127, 127, 0.1);
	display: flex;
	// justify-content: space-around;
	position: relative;
	justify-content: center;
	padding: 0.5em;

	& > .button {
		text-decoration: none;
	}

	&:after {
		content: '';
		display: table;
		clear: both;
	}

}

.complete-todo-button, .uncomplete-todo-button {
	position: absolute;
	left: 1em;
}

.edit-todo-button {
	opacity: 1;
	visibility: visible;
	transition: all 0.4s ease;
}

.is-completed .edit-todo-button {
	opacity: 0;
	visibility: visible;
	transition: all 0.4s ease;
}

.remove-todo-button {
	position: absolute;
	right: 1em;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease;
}

.is-completed .remove-todo-button {
	opacity: 1;
	visibility: visible;
	transition: all 0.4s ease;
}

.no-todos {
	// text-align: center;
}

</style>
