<template>
	<div id="app">

		<navigation></navigation>
	
		<router-view></router-view>

		<modal></modal>

		<message></message>
		
		<loading-screen></loading-screen>

	</div>
</template>

<script>

// MODULES & LIBRARIES
import key from 'keyboard-shortcut'

// COMPONENTS
import LoadingScreen from './components/elements/LoadingScreen'
import Navigation from './components/elements/Navigation'
import Modal from './components/elements/Modal'
import Message from './components/elements/Message'

export default {
	name: 'app',
	components: { Navigation, LoadingScreen, Modal, Message },
	created() {
	},
	mounted() {

		key('ctrl n', (event) => {
			event.preventDefault()
			event.stopPropagation()
			this.$store.dispatch('showAddNewProject')
		})

		key('ctrl t', (event) => {
			event.preventDefault()
			event.stopPropagation()
			this.$store.dispatch('showAddNewTodo')
		})

		key('ctrl p', (event) => {
			event.preventDefault()
			event.stopPropagation()
			this.$store.dispatch('showSelectProject')
		})

	},
	computed: {
	},
	methods: {
	},
	watch: {
		'$store.state.init' () {

		}
	},
}
</script>

<style lang="scss">

@import './styles/app.scss';

</style>
