<template>

	<div class="add-new-todo content">
		
		<h2 class="title">
			Add new Todo to: {{$store.getters.getSelectedProject.name}}
		</h2>
		
		<div class="field">

			<!-- Name -->

			<input 
				class="todo-name-input input" 
				type="text" 
				placeholder="Name"
				maxlength="20" 

				v-model="$store.state.temp.todo.name" 
				@keydown.enter="addNewTodo()"
				@keydown.esc="$store.commit('HIDE_MODAL')">

		</div>

			<!-- Description -->

		<div class="field">

			<input 
				class="todo-description-input input" 
				type="text" 
				placeholder="Description"
				maxlength="100" 

				v-model="$store.state.temp.todo.description"
				@keydown.enter="addNewTodo()"
				@keydown.esc="$store.commit('HIDE_MODAL')">

		</div>

		<div class="buttons field">

			<button class="add-new-todo button is-primary" 
					@click="addNewTodo()">

				<icon name="check"></icon>&nbsp;Add

			</button>

			<button class="cancel-new-todo button is-danger"
					@click="$store.commit('HIDE_MODAL')">

				<icon name="remove"></icon>&nbsp;Cancel
				
			</button>

		</div>

	</div>

</template>

<script>
export default {
	name: 'add-new-todo',
	components: { },
	created() { },
	mounted() { 
		const nameInput = document.querySelector('.todo-name-input')
		nameInput.focus()
	},
	data() {
		return { }
	},
	computed: {
	},
	methods: {
		addNewTodo() {

			if(this.$store.state.temp.todo.name) {
				this.$store.dispatch('addNewTodo', this.$store.state.temp.todo)
				this.$store.commit('HIDE_MODAL')
			}

		},
	}
}
</script>

<style lang="scss" scoped>



</style>
