<template>

	<div class="remove-todo content">
		
		<h2 class="title">
			Remove Todo: <strong>{{$store.state.temp.todo.name}}</strong>?
		</h2>

		<div class="buttons">

			<button class="add-new-todo button is-primary" 
					@click="removeTodo()">

				<icon name="check"></icon>&nbsp;Remove

			</button>

			<button class="cancel-new-todo button is-danger"
					@click="$store.commit('HIDE_MODAL')">

				<icon name="remove"></icon>&nbsp;Cancel

			</button>

		</div>

	</div>

</template>

<script>
export default {
	name: 'remove-todo',
	components: { },
	created() { },
	mounted() { },
	data() {
		return { }
	},
	computed: {
	},
	methods: {
		removeTodo() {

			this.$store.dispatch('removeTodo', this.$store.state.temp.todo)

		},

	}
}
</script>

<style lang="scss" scoped>

</style>
