<template>

	<div class="edit-todo content">
		
		<h2 class="title">
			Edit Todo: <strong>{{$store.state.temp.todo.name}}</strong>
		</h2>

		<div class="field">

			<!-- Name -->

			<input 
				class="todo-name-input input" 
				type="text" 
				placeholder="Name"
				maxlength="20" 

				v-model="name" 
				@keydown.enter="updateTodo()"
				@keydown.esc="$store.commit('HIDE_MODAL')">

		</div>

		<div class="field">


			<!-- Description -->

			<input 
				class="todo-description-input input" 
				type="text" 
				placeholder="Description"
				maxlength="100" 

				v-model="description"
				@keydown.enter="updateTodo()"
				@keydown.esc="$store.commit('HIDE_MODAL')">

		</div>

		<div class="buttons field">

			<button class="add-new-todo button is-primary" 
					@click="updateTodo()">

				<icon name="check"></icon>&nbsp;Update

			</button>

			<button class="cancel-new-todo button is-danger"
					@click="$store.commit('HIDE_MODAL')">

				<icon name="remove"></icon>&nbsp;Cancel
				
			</button>

		</div>

	</div>

</template>

<script>
export default {
	name: 'edit-todo',
	components: { },
	created() { },
	mounted() { 
		const nameInput = document.querySelector('.todo-name-input')
		nameInput.focus()
	},
	data() {
		return {
			// todo: this.$store.state.temp.todo,
			name: this.$store.state.temp.todo.name,
			description: this.$store.state.temp.todo.description,
		}
	},
	computed: {
	},
	methods: {
		updateTodo() {

			if(this.name) {

				const oldTodo = this.$store.state.temp.todo
				const newTodo = this.$store.state.temp.todo
				newTodo.name = this.name
				newTodo.description = this.description

				this.$store.dispatch('updateTodo', {
					oldTodo,
					newTodo
				})
				this.$store.commit('HIDE_MODAL')

			}

		},
	}
}
</script>

<style lang="scss" scoped>



</style>
