<template>

	<div class="edit-project content">
		
		<h2 class="title">
			Edit Project: <strong>{{$store.state.temp.project.name}}</strong>
		</h2>

		<div class="field">

			<!-- Name -->

			<input 
				class="project-name-input input" 

				type="text" 
				placeholder="Name"
				maxlength="20" 

				v-model="name" 
				@keydown.enter="updateProject()"
				@keydown.esc="$store.commit('HIDE_MODAL')">

		</div>

		<div class="field">

			<!-- Description -->

			<input 
				class="project-description-input input" 

				type="text" 
				placeholder="Description"
				maxlength="100" 

				v-model="description"
				@keydown.enter="updateProject()"
				@keydown.esc="$store.commit('HIDE_MODAL')">

		</div>

		<div class="buttons field">

			<button class="add-new-project button is-primary" 
					@click="updateProject()">

				<icon name="check"></icon>&nbsp;Update

			</button>

			<button class="cancel-new-project button is-danger"
					@click="$store.commit('HIDE_MODAL')">

				<icon name="remove"></icon>&nbsp;Cancel

			</button>

		</div>

	</div>

</template>

<script>
export default {
	name: 'edit-project',
	components: { },
	created() { },
	mounted() { 
		const nameInput = document.querySelector('.project-name-input')
		nameInput.focus()
	},
	data() {
		return {
			name: this.$store.state.temp.project.name,
			description: this.$store.state.temp.project.description,
		}
	},
	computed: {
	},
	methods: {
		async updateProject() {

			if(this.name) {

				const oldProject = this.$store.state.temp.project
				const newProject = this.$store.state.temp.project
				newProject.name = this.name
				newProject.description = this.description

				await this.$store.dispatch('updateProject', {
					oldProject,
					newProject
				})

				this.$router.replace(newProject.slug)
				this.$store.commit('HIDE_MODAL')

			}

		},
	}
}
</script>

<style lang="scss" scoped>



</style>
