<template>

	<div class="add-new-project content">
		
		<h2 class="title">
			Add new Project
		</h2>

		<!-- Name -->

		<div class="field">

			<input 
				class="project-name-input input" 

				type="text" 
				placeholder="Name"
				maxlength="20" 

				v-model="$store.state.temp.project.name" 
				@keydown.enter="addNewProject()"
				@keydown.esc="$store.commit('HIDE_MODAL')">

		</div>

		<!-- Description -->

		<div class="field">

			<input 
				class="project-description-input input" 

				type="text" 
				placeholder="Description"
				maxlength="100" 

				v-model="$store.state.temp.project.description"
				@keydown.enter="addNewProject()"
				@keydown.esc="$store.commit('HIDE_MODAL')">

		</div>

		<div class="buttons field">

			<button class="add-new-todo button is-primary" 
					@click="addNewProject()">

				<icon name="check"></icon>&nbsp;Add

			</button>

			<button class="cancel-new-todo button is-danger"
					@click="$store.commit('HIDE_MODAL')">

				<icon name="remove"></icon>&nbsp;Cancel
				
			</button>

		</div>

	</div>

</template>

<script>
export default {
	name: 'add-new-project',
	components: { },
	created() { },
	mounted() { 
		const nameInput = document.querySelector('.project-name-input')
		nameInput.focus()
	},
	data() {
		return { }
	},
	computed: {
	},
	methods: {
		async addNewProject() {

			const nameValidated = await this.$store.dispatch('validateProjectName', this.$store.state.temp.project.name)

			if(!nameValidated)
				return

			this.$store.dispatch('addNewProject', this.$store.state.temp.project)
			this.$router.push(`/project/${this.$store.state.temp.project.slug}`)
			this.$store.commit('HIDE_MODAL')

		},
	}
}
</script>

<style lang="scss" scoped>



</style>
