<template>

	<div class="select-project content">
		
		<h2 class="title">
			Select a Project
		</h2>

		<div class="projects-list">

			<div 
				class="select-project-button button"
				v-bind:class="{ 'is-selected' : activeClass(project.slug)} "
				@click="selectProject(project)"
				v-for="project in projects"
				>

					<icon name="cube"></icon>
					<span class="project-name">{{project.name}}</span>

			</div>

		</div>

	</div>

</template>

<script>
export default {
	name: 'select-project',
	components: { },
	created() { },
	mounted() { 
	},
	data() {
		return {
		}
	},
	computed: {
		projects() {
			return this.$store.state.projects
		},
		project() {
			return this.$store.getters.getSelectedProject
		}
	},
	methods: {
		activeClass(slug) {

			if(this.$route.params.slug === slug)
				return true

		},
		selectProject(project) {

			this.$router.push(`/project/${project.slug}`)
			this.$store.commit('HIDE_MODAL')

		},
	}
}
</script>

<style lang="scss" scoped>

.select-project-button {
	
	background: none;
	border-color: transparent;

	display: block;
	text-align: left;
	text-decoration: none;

	&:hover {
		background-color: whitesmoke;
		border-color: transparent;
	}

	&.is-selected {
		color: $turquoise;
	}

}

</style>
