<template>

	<div class="remove-project content">
		
		<h2 class="title">
			Remove Project: <strong>{{$store.state.temp.project.name}}</strong>?
		</h2>

		<div class="buttons">

			<button class="add-new-todo button is-primary" 
					@click="removeProject()">

				<icon name="check"></icon>&nbsp;Remove

			</button>

			<button class="cancel-new-todo button is-danger"
					@click="$store.commit('HIDE_MODAL')">

				<icon name="remove"></icon>&nbsp;Cancel

			</button>

		</div>

	</div>

</template>

<script>
export default {
	name: 'remove-project',
	components: { },
	created() { },
	mounted() { },
	data() {
		return { }
	},
	computed: {
	},
	methods: {
		removeProject() {

			this.$store.dispatch('removeProject', this.$store.state.temp.project)
			this.$router.replace('/')

		},
	}
}
</script>

<style lang="scss" scoped>



</style>
